*.iml
.gradle/
.idea/
/local.properties
**/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
!docs/**
*.aab
*.ap_
*.dex
*.class
*.jks
*.p12
*.keystore
keystore.properties
ptt-release.jks
ptt-release.jks.base64.txt
.DS_Store
*.log

dist/
